<!doctype html>
<html ng-app="ventas">

	<head>
		<title>Shopping Cart</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.min.js"></script>    	
    	<script src="js/services.js"></script>
    	<script src="js/venta.controller.js"></script>
    	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.1.js"></script>
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"/>
    	<link rel="stylesheet" href="css/bootstrap1.min.css"/>
    	<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8" ></meta>
	</head>
	<body>
		
		<div class="container" ng:controller="venta" data-ng-init="recargarVenta()">
			<form name="form" class="css-form" novalidate>
			
		    <div class="row">
		        <div class="col-sm-12 col-md-10 col-md-offset-1">
					<h2>Shopping Cart</h2>
					
		        	<table >
						<tr>
							<td class="text-center">
							<div class="media-body ">
								Cliente ID:<input type="number" name="clienteId" ng:change="iniciarVenta(venta.cliente.id)" ng:model="venta.cliente.id" class="input-small" ng:required="true" ng-disabled="venta.terminada"" />
								<strong>{{venta.cliente.nombre}} {{venta.cliente.apellido}}</strong>
								<span ng-show="form.clienteId.$error.required" class="text-warning">Cliente es requerido.</span>
							</div>
							</td>
						</tr>
					</table>
		            <table class="table table-hover">
		                <thead>
		                    <tr>
		                        <th>Id Producto</th>
					            <th>Descripción</th>
					            <th>Cantidad</th>
		                        <th class="text-center">Precio</th>
		                        <th class="text-center">Subtotal</th>
		                        <th></th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr ng:repeat="linea in venta.lineas" class="repeated-item" >
		                    	<td>
		                    		<input type="number" name="productoId{{$index}}" ng:change="actualizarProducto($index, linea.productoId)" class="input-small" ng:model="linea.productoId" ng:required="true"  ng-disabled="venta.terminada"/>
		                    		<span ng-show="form.productoId{{$index}}.$error.required" class="text-warning">Producto es requerido.</span>
		                    	</td>
		                        <td class="col-sm-8 col-md-6">
			                        <div class="media">
			                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 52px; height:52px;" /> </a>
			                            <div class="media-body " ng-if="linea.descripcion != null">
			                                <h4 class="media-heading"><a href="#">
			                                {{linea.descripcion}}
			                                </a></h4>
			                                <h5 class="media-heading"> Provisto por <a href="#">Proveedor</a></h5>
			                                <span>Status: </span><span class="text-success"><strong>En Stock</strong></span>
			                            </div>
			                        </div>
		                        </td>
		                        <td class="col-sm-1 col-md-1" style="text-align: center">
		                        <div ng-if="linea.descripcion != null">
		                        	<input type="number" name="cantidad{{$index}}" ng:model="linea.cantidad" class="input-mini" ng:change="actualizarCantidad($index, linea.cantidad)" ng:required="true"  min="0" max="10" integer ng-disabled="venta.terminada"/>
		                        	<span ng-show="form.cantidad{{$index}}.$error.required" class="text-warning">Cantidad es requerida.</span>
		                        </div>
		                        </td>
		                        <td class="col-sm-1 col-md-1 text-right"><strong>{{linea.precio}}</strong></td>
		                        <td class="col-sm-1 col-md-1 text-right"><strong>{{linea.subtotal | currency}}</strong></td>
		                        <td class="col-sm-1 col-md-1">
		                        <button type="button" class="btn btn-danger" ng:click="removerlinea($index)" ng-disabled="venta.terminada || linea.descripcion == null">
		                            <span class="glyphicon glyphicon-remove"></span> Remover
		                        </button></td>
		                    </tr>                    
		                </tbody>
		                <tfoot>
		                    <tr>
		                        <td>
			                        <button type="button" class="btn btn-default" ng:click="agregarlinea()" ng-disabled="form.$invalid || venta.terminada"">
			                            <span class="glyphicon glyphicon-shopping-cart"></span> Agregar Item
			                        </button>
		                        </td>
		                        <td></td>
		                        <td></td>
		                        <td><h5>Envío</h5><h3>Total</h3></td>
		                        <td class="text-right"><h5><strong>$0.00</strong></h5><h3>{{venta.total | currency}}</h3></td>
		                        <td></td>
		                    </tr>
		                     <tr ng-show="venta.terminada" class="check-element animate-show-hide" >
		                        <td></td>
		                        <td></td>
		                        <td colspan="2" ><h3><strong>Nro de Venta</strong></h3></td>
		                        <td class="text-right"><h3><strong>{{venta.id}}</strong></h3></td>
		                        <td></td>
		                    </tr>
		                    <tr>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td>
		                        <button type="button" class="btn btn-danger" ng:click="reiniciarVenta()">
		                            <span class="glyphicon glyphicon-refresh"></span> Reiniciar
		                        </button>
		                        </td>
		                        <td>
		                        <button type="button" class="btn btn-success" ng:click="confirmarCompra(venta)" ng-disabled="form.$invalid || !venta.lineas.length || venta.terminada">
		                            Comprar <span class="glyphicon glyphicon-play"></span>
		                        </button></td>
		                         <td></td>
		                    </tr>
		                </tfoot>
		            </table>
		        </div>
		    </div>
		    </form>
		</div>
	
	
	</body>
</html>